#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavBar {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.NavBar li {
  list-style: none
}

tr:hover {
  background-color: #444444
}

tr:active {
  background-color: #444444
}