#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-size: 1.25rem;
  background-color: #0a0a0a;
  color: #ddd
}

button {
  color: #987;
}

div {
  text-align: center;
  margin: auto;
}

.row {
  padding-bottom: 1.25%;
  padding-top: 1.25%;
}

.row:hover {
  background-color: #666666;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}

.NavBar li {
  display: flex;
  list-style: none;
}

h1 {
  font-size: .25em
}

li:hover {
  background-color: #666666;
}