#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar li {
  display: flex;
  list-style: none
}

tr:hover {
  background-color: #444444
}

tr:active {
  background-color: #444444
}