#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-size: 1.25rem;
  background-color: #0a0a0a;
  color: #ddd
}

label.col-sm {
  background-color: #1d1d1d;
  color: #ccc;
  margin: -1.5%
}


input.col-sm[type='text'], input.col-sm[type='password'] {
  background-color: #9a9a9a;
  color: #000;
  font-weight: bold;
}

input.col[type='text']:active, input.col[type='password']:active {
  background-color: #666;
  color: #000;
  font-weight: bold;
}

div {
  text-align: center;
  margin: auto;
}

.row {
  padding-bottom: 1.25%;
  padding-top: 1.25%;
}

.NavBar {
  width: 100%;
  display: flex;
  background-color: #1d1d1d;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.NavBar .col-3 {
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-evenly;
}

.NavBar .row {
  display: flex;
  justify-content: space-evenly
}

h1 {
  font-size: .25em;
  padding-top: 2.5%;
}

div.col-3:hover {
  background-color: #444444;
}

.epiRow:hover {
  background-color: #444444;
  border-radius: 10%;
  border-width: 3px;
}

.ruleList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: center;
}

ul.ruleList {
  display: flex;
  align-items: baseline;
  position:relative;
  left: 28%
}

li.ruleItem {
  list-style:disc;
  position: relative;
  left: 7.5%
}

.allEpiAuthor {
  font-size: smaller;
  font-style: italic;
}

.allEpiDuration {
  font-size: smaller;
}

.onePodBtn {
  margin-top: 1%;
  margin-bottom: 1%
}



.epiImg {
  margin-bottom: 1%
}