/* core style properties */

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgba(255, 2#242424, 0.87);
  background-color: #0a0a0a;
}

a {
  font-weight: 500;
  color: #f50;
  text-decoration: inherit;
}

a:hover {
  color: #f54;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.25rem;
  background-color: #0a0a0a;
  color: #ddd;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #f54;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-dark:active {
  color: #ff1500;
  outline-style: dashed;
  outline-width: 1px;
  outline-color: #ff1500;
}

div {
  text-align: center;
  margin: auto;
}

.row {
  padding-bottom: 1.25%;
  padding-top: 1.25%;
}

.NavBarContainer {
  width: 100%;
  background-color: #1d1d1d;
  justify-content: space-evenly;
}

h3 {
  padding-top: 2.5%;
}

div.col-sm:hover {
  background-color: #444444;
}

.epiRow:hover,
div.oneEpiShowTitle:hover {
  background-color: #444444;
  border-radius: 3%;
  border-width: 3px;
}

/* view and component specific styles */

.ruleList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: center;
}

ul.ruleList {
  display: flex;
  position: relative;
}

li.ruleItem {
  position: relative;
  font-style: italic;
  font-size: smaller;
}

.allEpiAuthor {
  font-size: smaller;
  font-style: italic;
}

.allEpiDuration {
  font-size: smaller;
}

.allEpiContent {
  max-width: 80vw;
}

.onePodBtn {
  margin-top: 1%;
  margin-bottom: 1%;
}

.note {
  max-width: 600px;
}

.epiContent {
  max-width: 250px;
  overflow-wrap: break-word;
}

.oneEpiContent {
  max-width: 80vw;
  overflow-wrap: break-word;
}

.onePodDesc {
  max-width: 80vw;
  overflow-wrap: break-word;
}

.oneEpi {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/* form style properties */

label.col-sm {
  background-color: #1d1d1d;
  color: #ccc;
  margin-top: -1.5%;
  margin-bottom: -1.5%;
}

input.col-sm[type="text"],
input.col-sm[type="password"] {
  background-color: #9a9a9a;
  color: #000;
  font-weight: bold;
}

input.col[type="text"]:active,
input.col[type="password"]:active {
  background-color: #666;
  color: #000;
  font-weight: bold;
}

.toastMessage {
  background-color: #1d1d1d;
  color: #ccc;
}

/* image styles */

img.waiting {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto
}


.audio-image {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto
}

/* audio player styles */

.inner {
  max-width: 600px;
}

.progress {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 350px;
  max-width: 80vw;
  background-color: #1d1d1d
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.volume {
  max-width: 83px;
  @media (max-width: 767px) {
    display: none
  };
  @media (max-width: 1023px) and (orientation: portrait) {
    display: none
  }
}

.controlBtn {
  color: #f50;
}
